
.yousef2{
    border: 1px solid rgb(241, 117, 16) ;
}
.yousef2:hover{
    color:rgb(241, 117, 16) ;
    cursor: pointer;
    border:1px solid white;
}
@media (max-width:768px) and (min-width:400px){
    .ml-20{
        margin-left: 10px;
    }
    .mr-20{
        margin-right: 10px;
    }
    .yousef3{
        width: 150px;
    }
    .yousef4{
        margin-top: 60px;
    }
    .yousef6{
        font-size: 12px;
    }
    .btn2{
        width: 20px;
    }
}