
.swiper {
  width:100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 75%;
  height:75%;
  object-fit: cover;
}

.swiper-pagination-bullet{
  background-color: rgb(241, 117, 16);
}
.yousefswiper:hover{
  transform: scale(1.08);
  transition: all .5s ease;
  opacity: 50%;
}